@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Ride_SharingApp.Controllers.Vehicle>
@{
    ViewBag.Title = "Vehicle List";
}
@Html.Partial("AdminNav")
<h2>Vehicle List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Vehicles", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().VehicleRegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().VehicleOwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().VehicleModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleRegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleOwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VehicleId }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.VehicleId })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))